/* GOOGLE FONTS 
font-family: 'Jura', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Jura', sans-serif;
    /* min-width: 400px; */
}

#upel-image{
    width: auto;
    height: 70px;
}

#home-page-upel{
    margin: 100px 0px 100px 0px;
}

#link-menu{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}


.nav-item{
    color: #4c4d4e;
}


#site-navbar{
    width: 100%;
    z-index: 10;
    position: fixed;
    padding-top: 5px; 
    margin-top: 0;
    transition: 0.2s;
}

.site-section{
    padding: 5em 0;
}


#section-h1{
    font-family: 'Roboto', sans-serif;  
    font-size: 30px; 
    padding-top: 2em;
    color: #5e0505;
    font-weight: 800;
}

span{
    font-family: 'Playfair Display', serif;
    color: #5e0505;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#banner-p{
    font-size: 30px;
    font-weight: 800;
    color: black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}

#banner{
    background-image: url("../pics/cover16.jpg");
    background-attachment: fixed;
    min-height: 1000px; 
    top: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;   
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}

#cover-services{
    background-image: url("../pics/cover18.jpg");
    background-attachment: absolute;
    min-height: 600px; 
    top: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;   
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2);
    
}

.company-li{
    border: 4px solid #6b6d70;
    background: #5e0505;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    font-weight: 400;
    color: white;
    border-radius: 50%;
    display: inline-block;  
}

.services-heading{
    font-size: 25px;
}

.company-p{
    padding: 2em 0em;
    color: #5e0505;
    font-weight: 600;
    text-align: justify;
}

footer{
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(148,147,147,1) 100%);
    padding-bottom: 20px;
}


.footer-heading{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #5e0505;
}

.footer-p{
    font-size: 15px;
}

.about-image{ 
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 5%;
}

#contact-p{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0px;
    color: #5e0505;
}

.contact{
    background-color: #f7f7f7;
    padding-top: 10px;
    border-radius: 5%;
}


.sticky{
    padding: 5px 100px;
    background-color: white;
    box-shadow: 0px 1px 8px #888888;
    

}


.navbar-light .navbar-nav .nav-link:hover{
    color: #5e0505;
}